*{
  font-family: 'Poppins', sans-serif;
  
}

#hero{
  margin-left: 50px;
}

#nav{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  margin:20px 80px 0px 80px;
  color:hsl(0, 2%, 37%);
  font-size:16px;

}

#left-nav{
  display:flex;
  flex-direction:row;
  align-items: center;
  gap:30px;
}

#right-nav{
  display:flex;
  flex-direction:row;
  align-items: center;
  gap:30px;
}

#main-hero{
  display:flex;
  flex-direction:row;
  margin:100px 80px 0px 80px;
}

#hero-left{
  
  padding-top:50px;
}

#hero-title{
  font-size:72px;
  margin:0px 0px -40px 0px;
}

#hero-description{
  color:hsl(0, 2%, 37%);
  font-size:18px;
}


#hero-right img{
  width:700px;
  position:absolute;
  right:-50px;

}

#hero-button{
  width:150px;
  background-color: hsl(180, 66%, 49%);
  padding:10px;
  border-radius: 50px;
  border: 0px;
  color:white;
  font-size:18px;
  font-weight:600;
}

/* Search Box  */

#search-box-main{
  display:flex;
  align-items: center;
  justify-content: center;
  background-image : url(./images/bg-shorten-desktop.svg);
  margin:150px 100px 0px 100px;
  width:1080px;
  height:185px;
  object-fit: contain;
  background-repeat: no-repeat;
}