footer{
   background-color: rgb(177, 169, 169);
   width: 100%;
   position: absolute;
   padding: 100px;
   line-height: 20px;
}
#body{
   width: 85%;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-between;
}

#iicon{
 flex-basis: 25%;
 padding: 10px;
}
