#banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image : url(../src/images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: 1700px;
  background-color: hsl(257, 27%, 26%);
  margin:-22px 0px 0px 0px;
  padding:40px 0px 40px 0px;
}
#banner-button{
  width:150px;
  background-color: hsl(180, 66%, 49%);
  padding:10px;
  border-radius: 50px;
  border: 0px;  
  color:white;
  font-size:18px;
  font-weight:600;  
}

#banner-button:hover{
  background-color: hsl(180, 72%, 56%);
  cursor:pointer;
}
#banner-text{
  color: rgb(255, 255, 255);
  text-align: center;
}
#body{
  background-color: hsl(255, 11%, 22%);
  padding: 100px;
  line-height: 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  
}
#social-media{
  width:19vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  height: 10%;
}

.footer-button:hover{
  color: hsl(180, 66%, 49%);
  cursor:pointer;

}

.footer-icon:hover{
  fill:hsl(180, 66%, 49%);
  cursor:pointer;
}

@media screen and (min-width:350px) and (max-width:750px){
  
  #banner-text{
    font-size:26px;
    margin-bottom:20px;
  }
  #banner-button{
    width:50vw;
    font-size:18px;
  }

  #body{
    justify-content: center;
    align-items: center;
    padding:0px 0px 50px 0px;
    flex-direction:column;
  }

  .footer-button{
    text-align:center;
    padding:10px;
    font-size:16px;
  }
  .footer-title{
    text-align:center;
    padding-bottom:10px;
  }
  #features{
    padding:30px;
  }

  #resoures{
    padding:30px;
  }
  #company{
    padding:30px;
  }

  #social-media{
    width:auto;
    gap:20px;
  }


}
